<% include ../header %>

<!-- 画面表示 -->
<form method ="POST" action="/pick">

<input type="submit" name="a1" class= "button1" value="<%= screen['a1'] %>" >
<input type="submit" name="a2" class= "button1" value="<%= screen['a2'] %>" >
<input type="submit" name="a3" class= "button1" value="<%= screen['a3'] %>"><br>
<input type="submit" name="b1" class= "button1" value="<%= screen['b1'] %>" >
<input type="submit" name="b2" class= "button1" value="<%= screen['b2'] %>" >
<input type="submit" name="b3" class= "button1" value="<%= screen['b3'] %>" ><br>
<input type="submit" name="c1" class= "button1" value="<%= screen['c1'] %>">
<input type="submit" name="c2" class= "button1" value="<%= screen['c2'] %>">
<input type="submit" name="c3" class= "button1" value="<%= screen['c3'] %>"><br>

</form>

<!-- initialize -->
<form method = "POST" action = "/init">
<input type= "submit" id="init"  class= "button2" value="初期化">
</form>

<% include ../footer %>
