<!DOCTYPE html>
<html lang="ja">
<head>
<title>三目並べ</title>
<!-- <link rel = "stylesheet" type= "text/css" href = "../../public/css/rayout.css"> -->
</head>

<!-- 画面 -->
<form method ="POST" action="/pick">

<table class = "screen">
<tbody>
<tr>
<td><input type="submit" name="a1" class= "screen" value="<%= screen['a1'] %>" onClick = "share()" ></td>
<td><input type="submit" name="a2" class= "screen" value="<%= screen['a2'] %>" onClick = "share()" ></td>
<td><input type="submit" name="a3" class= "screen" value="<%= screen['a3'] %>" onClick = "share()" ></td>
</tr>
<td><input type="submit" name="b1" class= "screen" value="<%= screen['b1'] %>" onClick = "share()" ></td>
<td><input type="submit" name="b2" class= "screen" value="<%= screen['b2'] %>" onClick = "share()" ></td>
<td><input type="submit" name="b3" class= "screen" value="<%= screen['b3'] %>" onClick = "share()" ></td>
<tr>
<td><input type="submit" name="c1" class= "screen" value="<%= screen['c1'] %>" onClick = "share()" ></td>
<td><input type="submit" name="c2" class= "screen" value="<%= screen['c2'] %>" onClick = "share()" ></td>
<td><input type="submit" name="c3" class= "screen" value="<%= screen['c3'] %>" onClick = "share()" ></td>
</tr>
</table>

</form>

<!-- 画面更新 -->
<form method = "GET" action = "/game">
<input type= "submit" id="reflesh"  class= "button2" value="画面更新">
</form>

<!-- initialize -->
<form method = "POST" action = "/init">
<input type= "submit" id="init"  class= "button3" value="初期化">
</form>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
window.location.reload();
var socket = io.connect();

socket.on('connected', function(data) {

});

socket.on('disconnect', function(data) {

});

socket.on('screenGet',function(data){
	window.location.reload();
});

function share(){
	socket.emit('screenShare',function(){
	});
}

</script>


<% include ../footer %>
