<!DOCTYPE html>
<html lang="ja">
<head>
<title>三目並べ</title>
<link rel = "stylesheet" type= "text/css" href = "css/rayout.css">

</head>
<!-- 画面 -->
<form method ="POST" action="/pick" name = "screen">
<input type="hidden" name = "username" >
<table class = "screen">
<tbody>
<tr>
<td><input type="submit" name="a1" id="a1" name="a1" class="button" value="<%= screen['a1'] %>" ></td>
<td><input type="submit" name="a2" id="a2" name="a1" class="button" value="<%= screen['a2'] %>" ></td>
<td><input type="submit" name="a3" id="a3" name="a1" class="button" value="<%= screen['a3'] %>" ></td>
</tr>
<td><input type="submit" name="b1" id="b1" name="a1" class="button" value="<%= screen['b1'] %>" ></td>
<td><input type="submit" name="b2" id="b2" name="a1" class="button" value="<%= screen['b2'] %>" ></td>
<td><input type="submit" name="b3" id="b3" name="a1" class="button" value="<%= screen['b3'] %>" ></td>
<tr>
<td><input type="submit" name="c1" id="c1" name="a1" class="button" value="<%= screen['c1'] %>" ></td>
<td><input type="submit" name="c2" id="c2" name="a1" class="button" value="<%= screen['c2'] %>" ></td>
<td><input type="submit" name="c3" id="c3" name="a1" class="button" value="<%= screen['c3'] %>" ></td>
</tr>
</table>

</form>

<!-- 初期化 -->
<form method = "POST" action = "/init">
<input type= "submit" id="init"  class= "button2" value="初期化" onClick ="share()" >
</form>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var result =  "<% winner %>";
var socket = io.connect();

socket.on('connected', function(data) {

});

socket.on('disconnect', function(data) {

});

socket.on('screenGet',function(data){
//	window.location.reload();

	console.log(">> screenGet from index.ejs" );
    console.log(data);

	console.log("a1 > " + data['a1']);
	console.log("a2 > " + data['a2']);
	console.log("a3 > " + data['a3']);
	console.log("b1 > " + data['b1']);
	console.log("b2 > " + data['b2']);
	console.log("b3 > " + data['b3']);
	console.log("c1 > " + data['c1']);
	console.log("c2 > " + data['c2']);
	console.log("c3 > " + data['c3']);

	document.getElementById("a1").value = data['a1'];
	document.getElementById("a2").value = data['a2'];
	document.getElementById("a3").value = data['a3'];
	document.getElementById("b1").value = data['b1'];
	document.getElementById("b2").value = data['b2'];
	document.getElementById("b3").value = data['b3'];
	document.getElementById("c1").value = data['c1'];
	document.getElementById("c2").value = data['c2'];
	document.getElementById("c3").value = data['c3'];

});

socket.on('result',function(data){

	alert(data + " が勝利しました。");

});
function getUrlVars()
{
    var vars = [], hash;
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    for(var i = 0; i < hashes.length; i++)
    {
        hash = hashes[i].split('=');
        vars.push(hash[0]);
        vars[hash[0]] = hash[1];
    }
    return vars;
}

var username = getUrlVars()['name'];
document.screen.username.value = username;
//document.write("Player : "+ username);

</script>


<% include ../footer %>
